.hero {
    padding: 120px 0 290px;
    position: relative;
    overflow: hidden;
}

.hero__text {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.hero__title {
    font-family: "Motter Corpus Std";
    font-size: 120px;
    color: var(--primary-pink);
}

.hero__title.black {
    position: relative;
    background: linear-gradient(180deg, #0B4141 42%, #0B1F1F 46%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 99;
}

.hero img:nth-child(3) {
    position: absolute;
    top: 95px;
    left: 0;
}

.hero img:nth-child(2) {
    position: absolute;
    bottom: 0;
}