@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@import url('./header.css');
@import url('./hero.css');
@import url('./discover.css');
@import url('./destiny.css');
@import url('./customize.css');
@import url('./magic.css');
@import url('./reviews.css');
@import url('./circles.css');
@import url('./appstore.css');
@import url('./footer.css');

:root {
    --primary-green: #0B4141;
    --primary-pink: #FFCCBC;
}

@font-face {
    font-family: "Motter Corpus Std";
    src: url('../assets/fonts/Motter\ Corpus\ Std\ Regular.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    border: none;
    outline: none;
}

body {
    font-family: "Nunito Sans", sans-serif;
}

[class*="__container"] {
    max-width: 88%;
    margin: 0 auto;
}

[class*="__desc"] {
    font-size: 24px;
    line-height: 32px;
}

main {
    padding-top: 82.4px;
}

h1, h2 {
    letter-spacing: 5px;
}

h3 {
    font-size: 68px;
    line-height: 72px;
    font-weight: 900;
}