.customize{
    padding: 96px 0;
}
.customize__container{
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.customize__section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 192px;
}
.customize__content{
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.customize__text{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.customize__title{
    color: var(--primary-green);
}

.customize__title.pink {
    color: var(--primary-pink);
}

.customize__desc{
    color: var(--primary-green);
}
.customize__scroll{
    display: flex;
    align-items: center;
    gap: 16px;
}

.customize__scroll {
    color: var(--primary-green);
    font-weight: 500;
}

.customize__scroll img {
    transition: .3s;
}

.customize__scroll:hover img {
    transform: translateY(-5px);
}

.customize img:nth-child(2) {
    justify-self: end;
}